body {
    background: rgb(183, 183, 222) ;
    font: normal 15pt arial
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.307);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
div {
    text-align: center;
    margin: 10px;
}
input[type="button"]{
    background:rgba(183, 183, 222, 0.394);
    outline: none;
    border-radius: 50px;
    padding: 3px;
    width: 85px;
    border-color: rgba(183, 183, 222);
    cursor: pointer;
    color: rgb(35, 35, 50);
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-top: 5px;
    margin: 5px;
}